@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.d-flex {
  display: flex;
}

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
}

nav {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;

  a {
    margin: 20px 10px 0;
    color: var(--color-grey-500);
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    position: relative;

    &.active {
      color: var(--secondary-color);
    }

    &:hover {
      color: var(--color-grey-500);

      &:after {
        opacity: 1;
        filter: none;
        transform: translateX(0px);
      }
    }

    &:after {
      position: absolute;
      content: '';
      height: 5px;
      width: 100%;
      background: var(--color-grey-500);
      display: block;
      top: 20px;
      opacity: 0;
      transform: translateX(100px);
      transition: all 0.2s ease-in-out;
    }
  }
}
