* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-size: 20px;
}

body {
  background: url(https://imparvez.github.io/portfolio/assets/images/bg-body.png);
}

nav {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
    a {
      margin: 20px 10px 0;
      color: #464141;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      position: relative;
      &.active {
        color: #c33;
      }
      &:hover {
        color: #c33;
        &:after {
          opacity: 1;
          filter: none;
          transform: translateX(0px);
        }
      }
      &:after {
        position: absolute;
        content: '';
        height: 5px;
        width: 100%;
        background: #c33;
        display: block;
        top: 20px;
        opacity: 0;
        transform: translateX(100px);
        transition: all 0.2s ease-in-out;
      }
    }
}
